<form action="/edit/{{index}}" method="POST">
    <label for="user">Enter name: </label>
    <input id="user_name" type="text" name="name" value="{{user.name}}">
    <br>
    <label for="user">Enter age: </label>
    <input id="user_name" type="text" name="age" value="{{user.age}}">
    <br>
    <input type="submit" value="OK">
</form>